@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');
@import "../styles/dummy.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        font-family: 'Open Sans', sans-serif;
        background-color: #684BB1;
    }
    h1,h2,h3 {
        font-family: 'Poppins', sans-serif;
    }
}